
/* flex布局 */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.flex-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0
}

.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end
}

.self-start {
  -ms-flex-item-align: start;
  align-self: flex-start
}

.self-center {
  -ms-flex-item-align: center;
  align-self: center
}

.self-end {
  -ms-flex-item-align: end;
  align-self: flex-end
}

.flex-shrink {
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.flex-flex1 {
  flex: 1
}

.flex-flex2 {
  flex: 2
}

.flex-flex3 {
  flex: 3
}

.flex-flex4 {
  flex: 4
}

.flex-flex5 {
  flex: 5
}

.flex-flex6 {
  flex: 6
}

.flex-flex7 {
  flex: 7
}

.flex-auto {
  flex: auto
}