        .scrollWrap::-webkit-scrollbar-track {
          border-radius: 1em;
          background-color: rgba(50, 50, 50, .1);
        }

        .scrollWrap::-webkit-scrollbar-thumb {
          border-radius: 1em;
          background-color: rgba(50, 50, 50, .3);
        }

        .scrollWrap::-webkit-scrollbar {
          width: 5px;
          height: 5px;
        }